.home {

    padding: 40px;

    text-align: center;

}


.home h1 {

    font-size: 32px;

    margin-bottom: 15px;

}


.home p {

    color: #555;

}



.cards {

    margin-top: 40px;

    display: flex;

    justify-content: center;

    gap: 25px;

}



.card-home {

    width: 250px;

    padding: 25px;

    background: white;

    border-radius: 10px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}


.card-home h2 {

    margin-bottom: 15px;

}